.container
  %h1.banner-title.vertical-align.p-0.m-0 Person
  %hr.divider/
  .row
    .form-group.col-sm-12.col-md-6
      %strong Name:
      = @person.name
    .form-group.col-sm-12.col-md-6
      %strong RFC:
      = @person.rfc

  .actions.py-3
    = link_to "Regresar", root_path, class: "btn btn-secondary"

  = render partial: "invoices/table"