.container
  .row
    .col-sm-12.col-md-6
      %h1.vertical-align.p-0.m-0 Invoices
    .col-sm-12.col-md-6
      %ol.breadcrumb.my-3.d-flex.align-items-center.justify-content-center
        %li.breadcrumb-item= link_to "Invoices", root_path
        %li.breadcrumb-item.active{"aria-current" => "page"} New Invoice
.container
  %hr.divider/
.container
  = render "form", invoice: @invoice